# mongod.conf rendered by jinja (ansible)

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

storage:
  dbPath: {{ mongodb_storage_path }}
  journal:
    enabled: true


systemLog:
  destination: file
  logAppend: true
  path: {{ mongodb_log_path }}

net:
  port: 27017
  {% if mongodb_net_bindipall %}
bindIpAll: true
  {% else %}
bindIp: 127.0.0.1,{{ ansible_default_ipv4.address }}
  {% endif %}

processManagement:
  # centos specific
  fork: true  # fork and run in background  # location of pidfile
  pidFilePath: /var/run/mongodb/mongod.pid  # location of pidfile
  # centos specific
  timeZoneInfo: /usr/share/zoneinfo

{% if without_security %}
{% else %}
{% if mongodb_enable_security %}
security:
{% if mongodb_security_authorization_enabled %}
  authorization: enabled
{% else %}
  authorization: disabled
{% endif %}
  keyFile: {{ mongodb_security_keyfile }}
{% endif %}
{% endif %}

#operationProfiling:

{% if mongodb_replication_replset %}
replication:
  oplogSizeMB: {{ mongodb_replication_oplogsize  }}
  replSetName: {{ mongodb_replication_replset }}
{% endif %}
